# Jupyter Pandas Cheat Sheet

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('Data/IMDB_Movie_Data.csv' ,sep=",") 
df

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
995,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

## Exploring Data

In [ ]:
df.head()       # first five rows

In [ ]:
df.tail()       # last five rows

In [ ]:
df.sample(5)    # random sample of rows

In [ ]:
df.shape        # number of rows/columns

In [ ]:
df.describe()   # calculates measures of central tendency

In [ ]:
df.info()       # memory footprint and datatypes

## Statistics

In [ ]:
df.describe() # Summary statistics for numerical columns

In [ ]:
df.mean() # Returns the mean of all columns

In [ ]:
df.corr() # Returns the correlation between columns in a DataFrame

In [ ]:
df.count() # Returns the number of non-null values in each DataFrame column

In [ ]:
df.max()  # Returns the highest value in each column

In [ ]:
df.min() # Returns the lowest value in each column

In [ ]:
df.median() # Returns the median of each column

In [ ]:
df.std() # Returns the standard deviation of each column

## Import Data from Files

###Â Import csv

In [ ]:
df = pd.read_csv('Data/my-data.csv' ,sep=",") 
df

### Import xls

In [ ]:
df = pd.read_excel('Data/my-data.xlsx')

In [ ]:
df = pd.read_excel('Data/my-data.xlsx',
    sheetname='sheet1',
    skiprows=[1] # header data
)

### Import MySQL

In [ ]:
import pymysql

conn = pymysql.connect(host='localhost',port=3306, db='database',user='root',password='pw')

df = pd.read_sql_query(
"SELECT * FROM table LIMIT 3;",
    conn)
df.tail(100)

### Import Teradata

In [ ]:
import teradata
 
#Make a connection
session = udaExec.connect(method="odbc",
                          USEREGIONALSETTINGS="N",
                          system= "dwhpprd",
                          username = "root",
                          password = "password");  
query = "SELECT * FROM DATABASEX.TABLENAMEX"
#Reading query to df
df = pd.read_sql(query,session)
# do something with df,e.g.
print(df.head()) #to see the first 5 rows

### Import SAP-Hana

In [ ]:
import pyhdb
 
connection = pyhdb.connect(
    host="sg006134.corproot.net",
    port=30015,
    user="HDB_REPORT_SHOP_CO_OUT",
    password="INts%8\[Sw.N"
)
print(connection.isconnected())
query = "SELECT * FROM HDB_REPORT_SHOP_CO_OUT.\"01_SWISSCOM.SC_REPORT.SHOP_CO_OUT::pex_sd_faktura\""
df = pd.read_sql(query,connection)
# do something with df,e.g.
print(df.head()) #to see the first 5 rows

## Export Data

### Export xls

In [ ]:
df.to_excel('Data/my-data_V2.xlsx')

### Export csv

In [ ]:
df.to_csv ('Data/my-data_V2.csv' , index = False, header=True)

## Column manipulation

### Column Filter

In [ ]:
df[['Title','Rating']]

In [ ]:
df.filter(['Title','Rating'])

### Column Rename

In [ ]:
df.rename(columns={'Title': 'a', 'Rating': 'c'},inplace=True))

### Column Resorter/Reorder

In [15]:
# show column values
df.columns.values

array(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'], dtype=object)

In [ ]:
# reorder Rating after Title
df[['Title', 'Rating','Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)',  'Votes', 'Revenue (Millions)',
       'Metascore']]

### Constant Value Column

In [ ]:
df['new_column'] = 23
df.head()

### Math Formula

In [ ]:
df['Rating_Votes'] = df.Rating + df.Votes
df[['Rating_Votes','Rating','Votes']].head()

### Number to String

In [ ]:
df['Year_str'] =df['Year'].astype(str)
df.info()

### String to Number

In [ ]:
df['Year_int'] =df['Year_str'].astype(int)
df.info()

### Double to Int

In [ ]:
df['Rating_int'] = df['Rating'].round(0).astype(int)
df[['Rating_int','Rating']].head()

### String Replacer

In [ ]:
df['Title'].replace('Prometheus', 'Alien')

### String Manipulate

In [ ]:
# lower
df['Title2'] = df['Title'].str.lower()
df[['Title2','Title']].head()

In [ ]:
# upper
df['Title2'] = df['Title'].str.upper() 
df[['Title2','Title']].head()

In [ ]:
# length
df['Title2'] = df['Title'].str.len() 
df[['Title2','Title']].head()

In [ ]:
# first Word
df['Title2'] = df['Title'].str.split(' ').str[0]
df[['Title2','Title']].head()

In [ ]:
df['Title2'] = df['Title'].str.find('Squad', 0) 
df[['Title2','Title']].head()

### Date manipulation

In [ ]:
pd.to_datetime('2010/11/12')

### Sort

In [ ]:
df.sort_values(by='Title', ascending=True)

In [ ]:
df.sort_values(by=['Director','Year'], ascending=True)

## Row manipulation

### Row Filter

In [ ]:
df[df.Title == 'Prometheus']

In [ ]:
df[df.Rating >= 8.5]

In [ ]:
df[(df.Year == 2016) & (df.Rating >= 8.5)]

In [ ]:
titel = ['Prometheus','Sing', 'Guardians of the Galaxy']
df[df.Title.isin(titel)]

In [ ]:
years = [2010,2015,2002]
df[df.Year.isin(years)]

In [ ]:
# Selects rows 1-to-3
df.iloc[0:3]

In [ ]:
# First 4 rows and first 2 columns
df.iloc[0:4, 0:2]

## Table Manipulation

### Group By

In [ ]:
df.groupby("Year")["Title"].count().to_frame() # Anzahl Titel pro Jahr

In [ ]:
df.groupby(["Year","Director"])["Title"].count().to_frame().reset_index() # Anzahl Titel pro Jahr und pro Director

In [ ]:
df.groupby(["Director"])["Title"].count().to_frame(name = 'count').reset_index() # Anzahl Titel pro Director -> in DataFrame

In [ ]:
df.groupby(["Year","Director"])["Revenue (Millions)"].sum().to_frame().reset_index() # Total Revenue pro Jahr und pro Director

In [ ]:
df.groupby("Director")["Rating"].mean().to_frame().reset_index() # Rating-Mean pro Director

In [ ]:
df.groupby("Director")["Rating","Runtime (Minutes)"].mean() # Rating-Mean pro Director

In [ ]:
df.groupby(["Year","Director"]).agg(
    {
         'Title':"count",  # Anzahl Titel pro Jahr und pro Director
         'Rating':"mean",  # Rating-Mean pro Director
         'Revenue (Millions)': "sum"  # Total Revenue pro Jahr und pro Director
    }
).reset_index()

### Pivot / Unpivot

In [ ]:
# Pivot
pd.pivot_table(df,index=["Director"]).reset_index()

In [ ]:
# Pivot
df4 = pd.pivot_table(df,index=["Director","Year"],values=["Revenue (Millions)"],aggfunc=np.sum).reset_index()
df4

In [ ]:
# Unpivot
df4 = pd.pivot_table(df,values=['Rating'], columns=['Year']).reset_index()
df4

In [ ]:
df4.melt(id_vars=['index'],var_name='Year',value_name='Title')

### Join

In [ ]:
# join df with df3
df3 = df.groupby(["Director"])["Title"].count().to_frame(name = 'count').reset_index() 

pd.merge(df,df3[['Director','count']], left_on=['Director'], right_on=['Director'],how = 'left') # how = rigtht, left, inner, outer

### Concat

In [ ]:
df.append(df2) # df2 an df anhÃ¤ngen. Columns mÃ¼ssen gleich sein

In [ ]:
pd.concat([df, df2],axis=0) # concat von zwei DataFrames